a.skip{
    background: white;
    position: absolute;
    left: 0;
    padding: 2px;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}
  
*:focus{
  border: 2px solid black;
}

header{
  background-image: url("../images/lightgray.png");
}

.navigation ul li a, .footer a{
  color: black;
  text-decoration: none;
  display:flex;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
  justify-content: center;
  text-align: center;
  background-color: rgba(182, 182, 182, 0.5);
}

.navigation ul li a:hover{
  background-color: rgb(162, 175, 216);
  color: whitesmoke;
}

.navigation ul li a.current_page{ 
	background-color: rgb(162, 175, 216);
  border: black;
  border-style: solid;
  color: white;
  text-transform: uppercase;
}

#logo{
  animation-name: logo_grow;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@-webkit-keyframes logo_grow{
0%{
   margin-left: 0;
   margin-right: 0;
   opacity: 0; 
}
25%{
  margin-left: 10%;
  margin-right: 10%;
}
50%{
  margin-left: 20%;
  margin-right: 20%;
}
75%{
  margin-left: 30%;
  margin-right: 30%;
}
100%{
   margin-left: 40%;
   margin-right: 40%;
   opacity: 1;
}
}

@keyframes logo_grow{
 /*Your code here.*/
0%{
  margin-left: 0;
  margin-right: 0;
  opacity: 0; 
}
25%{
 margin-left: 10%;
 margin-right: 10%;
}
50%{
 margin-left: 20%;
 margin-right: 20%;
}
75%{
 margin-left: 30%;
 margin-right: 30%;
}
100%{
  margin-left: 40%;
  margin-right: 40%;
  opacity: 1;
}
}

.logo img{
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

@media (prefers-reduced-motion){
  #logo{
    animation-name: dissolve;
  }
}

/* background */
body{
  font-size: 16pt; 
  background-image: url("../images/lightgray.png");
}

/* heading */
h1{
  font-family: Prata, sans-serif;
  padding: 10px;
  text-align: center;
} 

/* heading */
h2, h3, h4{
  padding-left: 20px;
  text-align: left;
}

/* paragraph paddings */
p{
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* image padding */
.self-image img, .hobbies_content img, .work img, .medlaunch img{
  width: 90%;
  margin-left: 20px;
  box-shadow: 10px 10px 10px 0px gray;
}

/* mobile view padding */
.medlaunch img{
  margin-top: 10px;
}

/* padding */
.index_content h2, .experience_content h3{
  padding-top: 20px;
}

/* img caption text align */
.food_img p, .travel_img p, .paint1 p{
  text-align: center;
}

/* padding above footer */
.intro p, .paint1 p, #end, .activities_content{
  margin-bottom: 30px;
}

footer{
	font-size: .85em;
	text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5em 0em .25em 0em;
  z-index: 1;
}

footer p{
	padding-top: .5em;
	padding-bottom: .75em;
}

.email_container{
	padding-right: 20px;
	padding-left: 20px;
}

.email_container input[type="email"], .email_container textarea[name="message"]{
	width:30%;
	border:1px solid black;
}

.email_container textarea[name="message"]{
  margin-top: 5px;
}




@media screen and (min-width: 850px){

nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation ul{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.navigation ul li a{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}


@-webkit-keyframes logo_grow{
0%{
   margin-top: -30px;
   opacity: 0; 
}
25%{
  margin-top: -20px;
}
50%{
  margin-top: -10px;
}
75%{
  margin-top: -5px;
}
100%{
  margin-top: 0px;
   opacity: 1;
}
}

@keyframes logo_grow{
 /*Your code here.*/
 0%{
  margin-top: -30px;
  opacity: 0; 
}
25%{
 margin-top: -20px;
}
50%{
 margin-top: -10px;
}
75%{
 margin-top: -5px;
}
100%{
 margin-top: 0px;
  opacity: 1;
}
}

.logo img{
  width: 25%;
  margin-left: 10%;
  margin-top: 0px;
}

.index_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.self-image{
  grid-column: 1/2;
}

.intro{
  grid-column: 2/3;
}

.intro h2{
  padding-top: 0;
}

/* about page flex  */
.food_img, .travel_img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.food_img ul, .travel_img ul{
  display:flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}

.travel_img ul{
  flex-wrap: wrap;
}



.food1, .food2, .food3, .travel1, .travel2, .travel3,.travel4,.travel5{
  padding: 0 20px 0 0;
}

.travel1, .travel2, .travel3,.travel4,.travel5{
  width: 350px;
}

.paint1{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}



/* involvement */
.medpics{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.medlaunch2{
  grid-column: 2/3;
}

.medlaunch3{
  grid-column: 3/4;
}

#denso{
  display: none;
}
.bgimg1{
  position: relative;
  background-image: url("../images/denso.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#deviate{
  display: none;
}

.bgimg2{
  position: relative;
  background-image: url("../images/deviate.png");
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.experience_content h3{
  padding-bottom: 10px;
}

.denso_content{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.5); 
  color: #111;
  padding: 18px;
}

#middle{
  background-color:lightgray;
  text-align:center;
  padding-bottom:30px; 
}

#title{
  background-color:lightgray;
  padding-top: 20px;
  padding-left:40px; 
}

#end{
  position: absolute;
  text-align: center;
  color: #000;
  bottom: 20%;
  padding:20px;
  background-color: rgba(255, 255, 255, 0.5); 
  color: #111;
  
}

}
