a.skip{
    background: white;
    position: absolute;
    left: 0;
    padding: 2px;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}
  
*:focus{
  border: 2px solid black;
}

header{
  background-image: url("../images/lightgray.png");
}

.navigation ul li a, .footer a{
  color: black;
  text-decoration: none;
  display:flex;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
  justify-content: center;
  text-align: center;
  background-color: rgb(182, 182, 182);
}

.navigation ul li a:hover{
  background-color: lightsteelblue;
  color: whitesmoke;
}

.navigation ul li a.current_page{ 
	background-color: lightsteelblue;
  border: black;
  border-style: solid;
  color: white;
}

#logo{
  animation-name: logo_grow;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@-webkit-keyframes logo_grow{
0%{
   margin-left: 0;
   margin-right: 0;
   opacity: 0; 
}
25%{
  margin-left: 10%;
  margin-right: 10%;
}
50%{
  margin-left: 20%;
  margin-right: 20%;
}
75%{
  margin-left: 30%;
  margin-right: 30%;
}
100%{
   margin-left: 40%;
   margin-right: 40%;
   opacity: 1;
}
}

@keyframes logo_grow{
 /*Your code here.*/
0%{
  margin-left: 0;
  margin-right: 0;
  opacity: 0; 
}
25%{
 margin-left: 10%;
 margin-right: 10%;
}
50%{
 margin-left: 20%;
 margin-right: 20%;
}
75%{
 margin-left: 30%;
 margin-right: 30%;
}
100%{
  margin-left: 40%;
  margin-right: 40%;
  opacity: 1;
}
}

.logo img{
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

@media (prefers-reduced-motion){
  #logo{
    animation-name: dissolve;
  }
}

body{
  font-size: 16pt; 
  background-image: url("../images/lightgray.png");
}

h1{
  font-family: Prata, sans-serif;
  padding: 10px;
  text-align: center;
} 

h2, h3, h4{
  padding-left: 20px;
}

p{
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.self-image img, .hobbies_content img, .work img, .medlaunch img{
  width: 90%;
  margin-left: 20px;
  box-shadow: 10px 10px 10px 0px gray;
}

.medlaunch img{
  margin-top: 10px;
}

.index_content h2, .experience_content h3{
  padding-top: 20px;
}

.food_img p, .travel_img p, .paint1 p{
  text-align: center;
}

.paint1 p, .deviate_content p, .activities_content{
  margin-bottom: 30px;
}

footer{
	font-size: .85em;
	text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5em 0em .25em 0em;
  z-index: 1;
}

footer p{
	padding-top: .5em;
	padding-bottom: .75em;
}

#email{
	padding-right: 20px;
	padding-left: 20px;
}

#email input[type="text"], #email input[type="email"]{
  padding:5px;
	width:90%;
	border:1px solid black;
}




@media screen and (min-width: 850px){


header{
  background: #fff;
  /* border-bottom: 3px solid #50C7C7; */
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* color: white; */
  
}

.logo img{
  width: 8%;
  margin-left: 10px;
}




.index_content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.self-image{
  grid-column: 1/2;
}

.intro{
  grid-column: 2/3;
}

.intro h2{
  padding-top: 0;
}


/* .food{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
}
.food1{
  grid-column: 1/2;
}

.food2{
  grid-column: 2/3;
}

.food3{
  grid-column: 3/4;
}
} */

.food{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.food1, .food2, .food3{
  padding: 0 20px 0 0;
  flex-basis: 250px;
  flex-direction: row;
}

.medpics{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.medlaunch1{
  /* grid-column: 1/2; */
}

.medlaunch2{
  grid-column: 2/3;
}

.medlaunch3{
  grid-column: 3/4;
}

.work{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.denso_img{
  grid-column: 1/2;
}

.denso_content{
  grid-column: 2/3;
  padding: 30px;
}

.deviate_img{
  grid-column: 1/2;
  grid-row: 2/3;
}

.deviate_content{
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 30px;

}

}







/* 
.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
} */
